# Angular specific
/dist/
/out-tsc/
/tmp/
/coverage/
/e2e/test-output/
/.angular/
.angular/

# Node modules and dependency files
/node_modules/
/package-lock.json
/yarn.lock

# Environment files
/.env

# Angular CLI and build artefacts
/.angular-cli.json
/.ng/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#MVC
.vs/
EduAsistant/.vs/EduAsistant/v17/.suo
EduAsistant/.vs/EduAsistant/v17/DocumentLayout.json
EduAsistant/EduAsistant/obj/Debug/net8.0/EduAsistant.AssemblyInfo.cs
EduAsistant/EduAsistant/obj/Debug/net8.0/EduAsistant.AssemblyInfoInputs.cache
EduAsistant/EduAsistant/obj/Debug/net8.0/EduAsistant.GeneratedMSBuildEditorConfig.editorconfig
EduAsistant/EduAsistant/obj/Debug/net8.0/rpswa.dswa.cache.json
EduAsistant/EduAsistant/obj/project.nuget.cache
EduAsistant/EduAsistant/obj/Debug/net8.0/EduAsistant.assets.cache
